.Footer {
    background-color: #242424;
    padding-top: 2em;
    margin-top: 1em;

    &__container {
        @media(min-width: 1024px) {
            margin-left: auto;
            margin-right: auto;
            padding: 0 4em;
        }

        @media(min-width: 1200px) {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
        }
    }

    p {
        padding: 0 1em;
        color: white;
        margin-bottom: 0;

        @media(min-width: 1200px) {
            padding: 0;
        }
    }

    &__location {
        padding: 1em 0;
    }

    a {
        color: white;
        text-decoration: none;
    }

    &__icons {
        color: white;
        font-size: 1.4em;
        padding-bottom: 1em;

        i {
            padding: .5em 0 0 16px;
        }
    }

    &__copyright {
        background-color: white;
        text-align: center;
        padding: 1em;

        p {
            color: #242424;
        }
    }
}