.MainSlider {
    position: fixed;
    height: 100vh;

    &__carousel {
        width: 100%;

        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    &__arrow {
        position: absolute;
        bottom: 5vh;
        left: 50%;
        transform: translate(-50%);

        .fas {
            font-size: 1.4em;
            color: white;

            &:hover {
                cursor: pointer;
                transition: .3s;
                color: rgb(179, 179, 179);
            }
        }
    }
}