.Menu {
    width: 100%;
    height: 100%;
    background-color: rgb(179, 179, 179);
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 2;
    transition: .3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(min-width: 1024px) {
        width: 100vw;
        height: 60px;
        background-color: rgba($color: #000000, $alpha: .45);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        padding: 0 20px;
    }

    &--active {
        right: 0;
    }

    &__list {
        ul {
            list-style: none;
            margin-bottom: 0;

            li {
                text-align: center;
                line-height: 2em;

                @media(min-width: 1024px) {
                    display: inline-block;
                    padding-right: 1em;
                }

                a {
                    color: #1d1d1d;
                    text-decoration: none;
                    transition: .3s;

                    @media(min-width: 1024px) {
                        color: white;

                        &:hover {
                            color: rgb(179, 179, 179);
                        }
                    }
                }
            }
        }
    }
}